<% include partials/header %>



    <p>This is camp ground page. Read on...</p>
<div class="row" style="display: flex; flex-wrap: wrap">
        <% campgrounds.forEach(function (ground) { %>
            <div class="col-lg-4 col-sm-6 col-xs-12 ">
                    <div class="thumbnail">
                        <img class="img-rounded" title="<%= ground.name %>" alt="<%= ground.name %>" src="<%= ground.img%>" />
                        <div class="caption">
                            <h4><%= ground.name %></h4>
                        </div>
                        <a class="btn btn-default btn-primary btn-block" href="/campgrounds/<%= ground._id %>">More info</a>
                    </div>
            </div>

        <% })%>
    </div>


<!-- Begoinning of the bottom 3 columns-->
<div class="container fa-border">
    <div class="rot">
        <div class="col-md-4 lead">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab dolores, earum est eum ex facilis harum
                mollitia nostrum nulla obcaecati odio pariatur porro, possimus provident ratione rem repudiandae
                vitae.</p>
        </div>
        <div class="col-md-4 lead">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur aut consectetur,
                consequatur cum delectus earum ipsum iste magni pariatur perferendis quis repellat repellendus tenetur
                ullam vitae voluptas voluptatem voluptates?</p>

        </div>
        <div class="col-md-4 ">
            <form>

                <p>Quick feedback:</p>
                <div class="form-group">
                    <label for="contact[name]">Your name</label>
                    <input class="form-control" type="text" name="contact[name]">
                </div>

                <div class="form-group">
                    <label for="contact[message]">Your message</label>
                    <textarea class="form-control" name="contact[message]"></textarea>
                </div>

                <div class="form-group">
                    <input class="btn btn-default" type="submit">
                </div>
            </form>
        </div>
    </div>

</div>
<!-- End of the bottom 3 columns-->

&nbsp;
<div class="container-fluid">
    <a class="btn btn-default btn-lg btn-block btn-secondary" href="/campgrounds/new">Add new site</a>
</div>

<% include partials/footer %>