<% include partials/header %>



    <p>This is camp ground page. Read on...</p>
    <div class="row">
        <% campgrounds.forEach(function (ground) { %>
            <div class="col-lg-4 col-sm-6 col-xs-6 ">
                    <div class="thumbnail">
                        <img class="img-rounded" title="<%= ground.name %>" alt="<%= ground.name %>" src="<%= ground.img%>" />
                        <div class="caption">
                            <h4><%= ground.name %></h4>
                        </div>
                        <button class="btn btn-block"><a href="/campgrounds/<%= ground._id %>">More info</a></button>
                    </div>
            </div>

        <% })%>
    </div>



<hbutton class="btn btn-default btn-lg btn-block">
    <a  href="/campgrounds/new">Add new site</a>
</hbutton>


<% include partials/footer %>

<!--Be nice-->