<% include partials/header %>

<div class="row">
    <h1 class="campgroundDetailHeader"><%= objectArray.name %></h1>
    <img class="img-rounded thumbnail" src="<%= objectArray.img %>"/>
</div>
<div class="row">
    <div class="container">
        <p class="textTypo"><%= objectArray.description %></p>
    </div>

    <div class="comments">
        <h4><i class="fa fa-comments" aria-hidden="true"></i> Comments:</h4>
        <% objectArray.comments.forEach(function (comment) { %>
        <p><%= comment.text %> by <em><%= comment.author %></em></p>
        <% }) %>
    </div>


    <div class="container">
        <h4 id="showCommentAddForm">
            <p>
                Add new comment below <i id="commentsIcon" class="fa fa-arrow-down" aria-hidden="true"></i>
            </p>
        </h4>
        <div class="row text-center">
            <div class="col-md-12 col-sm-12">
                <form id="newCommentForm" method="post" action="/campgrounds/someID/comments">

                    <div class="form-group">
                        <input required type="text" class="form-control" name="commentAuthor" placeholder="your name"/>
                        <input name="siteId" type="hidden" value="<%= objectArray._id %>"/>
                    </div>
                    <div class="form-group">
                        <textarea required name="commentBody" placeholder="comment" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default form-control" type="submit"/>
                    </div>


                </form>
            </div>
        </div>


    </div>

</div>
<div class="container">
    <a class="btn btn-default btn-block btn-primary" href="/campgrounds">
        Back to the list
    </a>
</div>


<% include partials/footer %>

