<% include partials/header %>


    <h1><i class="fa fa-cloud" aria-hidden="true"></i> <%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>This is camp ground page. Read on...</p>
    <div class="row">
        <% campgrounds.forEach(function (ground) { %>
            <div class="col-lg-4 col-sm-6">
                    <div class="campingHeaders">
                        <img title="<%= ground.name %>" alt="<%= ground.name %>" src="<%= ground.img%>" />
                    </div>
            </div>

        <% })%>
    </div>

<h3 class="addNewSiteToTheListLink"><a  href="/campgroundsnew">Add new site</a> </h3>


<% include partials/footer %>