<% include partials/header %>



    <p>This is camp ground page. Read on...</p>
<div class="row" style="display: flex; flex-wrap: wrap">
        <% campgrounds.forEach(function (ground) { %>
            <div class="col-lg-4 col-sm-6 col-xs-12 ">
                    <div class="thumbnail">
                        <img class="img-rounded" title="<%= ground.name %>" alt="<%= ground.name %>" src="<%= ground.img%>" />
                        <div class="caption">
                            <h4><%= ground.name %></h4>
                        </div>
                        <a class="btn btn-default btn-primary btn-block" href="/campgrounds/<%= ground._id %>">More info</a>
                    </div>
            </div>

        <% })%>
    </div>


<a class="btn btn-default btn-lg btn-block btn-secondary" href="/new">Add new site</a>

<% include partials/footer %>