<% include ../partials/header %>

<div class="row">
    <h1 class="campgroundDetailHeader"><%= objectArray.name %></h1>
    <img class="img-rounded thumbnail" src="<%= objectArray.img %>"/>
</div>
<div class="row">
    <div class="container">
        <p class="textTypo"><%= objectArray.description %></p>
    </div>


    <!-- Comments section -->
    <div class="comments">
        <section>
            <h4><i class="fa fa-comments fa-2x" aria-hidden="true"></i> Comments for the site:</h4>
            <ul>
                <% objectArray.comments.forEach(function (comment) { %>
                <li><i class="fa fa-commenting-o" aria-hidden="true"></i> <%= comment.text %> by
                    <em class="makeLinkHand">
                        <%= comment.author %>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </em>
                </li>
                <% }) %>
            </ul>
        </section>
    </div>


    <!-- Adding comments section-->
    <div class="container">
        <h4 id="makeALinkHand">
            <p>
                Add new comment below to the <%= objectArray.name %>.<i id="commentsIcon" class="fa fa-arrow-down"
                                                                        aria-hidden="true"></i>
            </p>
        </h4>
        <div class="row text-center">
            <div class="col-md-12 col-sm-12">
                <form id="newCommentForm" method="post" action="/campgrounds/<%= objectArray._id %>/comments/new">

                    <div class="form-group">
                        <input required type="text" class="form-control" name="commentAuthor" placeholder="your name"/>
                        <input name="siteId" type="hidden" value="<%= objectArray._id %>"/>
                    </div>
                    <div class="form-group">
                        <textarea required name="commentBody" placeholder="comment" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default form-control" type="submit"/>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>


<!-- Back to the main list button-->
<div class="container">
    <a class="btn btn-default btn-block btn-primary" href="/campgrounds">
        Back to the list
    </a>
</div>


<% include ../partials/footer %>

